{% load custom_tags %}
<div class="list-group">
<a href="{% url 'dashboard' %}" class="list-group-item d-flex justify-content-between align-items-center active" style="text-decoration:none;">
All Posts
<span class="badge badge-warning badge-pill">{{posts.count}}</span>
</a>
<a href="{% url 'add_new_post' %}" class="list-group-item list-group-item-action">Add New Post</a>
<a href="#" class="list-group-item d-flex justify-content-between align-items-center" style="text-decoration:none; color:#495057;">
Published Posts
<span class="badge badge-warning badge-pill">{{posts | published}}</span>
</a>
<a href="#" class="list-group-item d-flex justify-content-between align-items-center" style="text-decoration:none; color:#495057;">
Pending Posts
<span class="badge badge-warning badge-pill">{{posts | pending}}</span>
</a>
<a href="#" class="list-group-item list-group-item-action">Edit Profile</a>
</div>
