{% extends "crudApp/base.html" %}
{% load humanize %}
{% load custom_tags %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="card mb-5">
  <img src="{{ post.feature_image.url }}" class="card-img-top img-responsive" alt={{post.title}}>
  <div class="card-body">
    {% if request.user.is_authenticated and request.user == post.created_by %}
      <a href="{% url 'edit_post' post.id %}" class="btn btn-warning btn-sm float-right">Edit Post</a>
    {% endif %}
    <h5 class="card-title">{{post.title}}</h5>
    <small class="text-muted">{{post.created_by}} | {{post.created_date | naturalday}}</small>
    <p class="card-text">{{post.get_post_content_as_markdown}}</p>
  </div>
</div>
  {% include "includes/comments.html" with url=post.id %}
  </div>
  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-header">About Author</div>
      <div class="card-body">
        <img src="{{ profile.profile_image.url }}" alt="{{profile}}" class="mx-auto d-block" style="width:150px; height:150px; border-radius:100%;">
        <h5 class="card-title mt-3">{{profile.user}}</h5>
        <p class="card-text">{{profile.title}}</p>
        <p class="card-text">{{profile.description|slice:":100"}}... <a href="#">read more</a></p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-success btn-block">Learn More</button>
      </div>
    </div>
    <hr>
    <h5 class="display-5">Category</h5>
    <ul class="list-group">
      {% for category in categories %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
      {{category.name}}
      <span class="badge badge-primary badge-pill">{{category.name | post_count}}</span>
      </li>
      {% endfor %}
    </ul>
    <hr>
    <h5 class="lead">Search Posts</h5>
    <form action="{% url 'search_posts' %}" method="post">
      {% csrf_token %}
      <input type="text" name="q" placeholder="Search Posts..." class="form-control"/>
      <button type="submit" class="btn btn-outline-success btn-block mt-1">Search Posts</button>
    </form>
  </div>
</div>
<script id="dsq-count-scr" src="//commercialpakistan-herokuapp-com.disqus.com/count.js" async></script>                                            
{% endblock %}
